.div_title_detail{
    text-align: center;
    padding: 10px;
    background: #3a4750;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.div_title_detail h1{
    color:#ffff;
}
.card_component_dos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 250px;
    margin-bottom: 3em;
    margin-top: 2em;
    padding: 0;
}

.div_img_comp_dos{
  
}

.div_img_comp_dos img {
    width: 100%;
}

.card_dos_text {
    text-align: center;
    padding: 0.4em;
}
.card_dos_text h1{
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.card_dos_text span{
    font-size: 12px;
    text-align: center;
}