.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ffff;
    position: fixed;
    z-index: 1;
}


.header-link-img 
{
  text-align: center;
  background: #ffff;
  
}
.menu_header{
  padding: 0;
}

.menu_header .menu{
  padding: 0;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-around;
}


.header-link-img img{
  width: 60%;
}


  
  /* Para 480px */  
  @media only screen and (max-width: 500px) and (min-width: 341px) 
  {
    
    .header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: #ffff;
      position: fixed;
      z-index: 1;
  }

    .header-link-img 
    {
      text-align: center;
      background: #ffff;
    }
  
    .menu_header .menu{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
   
    .menu_header .mostrar_menu{
      display: none;
    }
    
    .header-link-img img{
      width: 100%;
    }
    
  
  
  } 


  /* Para 320px */  
  @media only screen and (max-width: 340px) and (min-width: 5px)  
  {
    .header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: #ffff;
      position: fixed;
      z-index: 1;
  }

  .header-link-img 
    {
    text-align: center;
      background: #ffff;
    }

    .menu_header .menu{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
   
    .menu_header  .mostrar_menu{
      display: none;
    }
    
    .header-link-img img{
      width: 100%;
    }
    
    
  } 