.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background: #ffff;
    position: fixed;
    z-index: 1;
    padding: 2em;
}

.header img{
  width: 40%;
}