

.nav-text a{
    font-size: 12px;
    color: rgb(3, 3, 3);
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.submenu-text a{
    font-size: 12px;
    color: rgb(3, 3, 3);
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}