
   .mostrar_menu{
    display: none;
  }
  
.nav-text a{
    font-size: 12px;
    color: rgb(3, 3, 3);
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.submenu-text a{
    font-size: 12px;
    color: rgb(3, 3, 3);
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}

  /* Para 480px */  
  @media only screen and (max-width: 500px) and (min-width: 341px) 
  {
    

   .mostrar_menu{
      display: flex;
    }
    

    
  
  
  } 