.footer{
    height: 30vh;
    color: #ffff;
    background: #0a0a0a;
    padding: 1.5em;
    margin-top: 40vh;
}
.footer h2{
    color: #ffff;
}

.footer .contacto{
    display: flex;
    flex-direction: column;
}
.footer .contacto span{
   margin-top: 1em;
   font-size: 14px;
}


.footer .follow .icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:start;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}