
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import './components/cards/cards.css';
@import './components/cardsdos/cardsdos.css';
@import './components/cardstres/cardstres.css';
@import './components/cardDetail/cardDetail.css';
@import './components/footer/Footer.css';

  
.layout-videos{
    background-color: #FFFF;
    width: 100%;
    height: auto;
}
  
 
  .content{
    margin: 24px 16px 0;
    background-color: #FFFF;
    margin-top: 200px;
    padding-left: 100px;
    padding-right: 100px;

  }
  
  @media only screen and (max-width: 980px) and (min-width: 821px) 
  {  
    .layout-videos{
      background-color: #FFFF;
      width: 100%;
      height: auto;
  }

  
    .content{
      margin: 24px 16px 0;
      background-color: #FFFF;
      margin-top: 200px;
      padding-left: 200px;
      padding-right: 200px;
  
    }
  }  
    
  /* Para 800px */  
  @media only screen and (max-width: 820px) and (min-width: 621px) {  
    .layout-videos{
      background: #FFFF;
      margin-left: 0;
      width: auto;
    }
    .div-footer{
      color: #FFFF;
      display: flex;
      justify-content: center;
    }
  
    .content{
      margin: 24px 16px 0;
      background: #FFFF;
      margin-top: 100px;
      padding-left: 100px;
      padding-right: 100px;
  
    }
    
    
  }  
    
  /* Para 600px */  
  @media only screen and (max-width: 620px) and (min-width: 501px) 
  {
    .layout-videos{
      background-color: #FFFF;
      margin-left: 0;
      width: auto;
    }

    .div-footer{
      color: #FFFF;
      display: flex;
      justify-content: center;
    }
  
    .content{
      margin: 24px 16px 0;
      background-color: #FFFF;
      margin-top: 100px;
      padding-left: 100px;
      padding-right: 100px;
  
    }
    
  }  
  
  /* Para 480px */  
  @media only screen and (max-width: 500px) and (min-width: 341px) 
  {
  
    .layout-videos{
      margin-left: 0;
      width: auto;
      background-color: #ffff;
    }
    .content{
      background-color: #FFFF;
    }

     .div-logo-header{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: #FFFF;
      height: 15vh;
      position: fixed;
      z-index: 1;
  }
  
  .div-logo-header img{
    width: 100%;
  }

  .content{
    margin: 24px 16px 0;
    background: #FFFF;
    margin-top: 100px;
    padding: 0;
  }
  
  
  }  
    
  
  /* Para 320px */  
  @media only screen and (max-width: 340px) and (min-width: 5px)  
  {
    .layout-videos{
      margin-left: 0;
      background-color: #ffff;
    }
    .div-logo-header{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: #ffff;
      height: 25vh;
      position: fixed;
      z-index: 1;
  }
  
  .div-logo-header img{
    width: 100%;
  }
  
     
    
  } 