
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:300');
@import './components/principalcard/principalcard.css';
@import './components/cards/cards.css';

.div-logo{
    display: flex;
    justify-content: center;
    width: 100%;
    background: #FFFF;
}