
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import './components/principalcard/principalcard.css';
@import './components/cards/cards.css';
@import './components/cardsdos/cardsdos.css';
@import './components/cardDetail/cardDetail.css';


.div-logo-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #FFFF;
    height: 18vh;
    position: fixed;
    z-index: 1;
}

.div-logo-header img{
  width: 40%;

}
.App {
    text-align: center;
  }
  
  
.layout-videos{
    background: #FFFF;
    width: 100%;
}
  
  
  .div-footer{
    color: #FFFF;
    display: flex;
    justify-content: center;
  }

  .content{
    margin: 24px 16px 0;
    background: #FFFF;
    margin-top: 200px;
    padding-left: 100px;
    padding-right: 100px;

  }
  
  @media only screen and (max-width: 980px) and (min-width: 821px) 
  {  
    .layout-videos{
      margin-left: 0;
      width: auto;
    }
  }  
    
  /* Para 800px */  
  @media only screen and (max-width: 820px) and (min-width: 621px) {  
    .layout-videos{
      margin-left: 0;
      width: auto;
    }
    
    
  }  
    
  /* Para 600px */  
  @media only screen and (max-width: 620px) and (min-width: 501px) 
  {
    .layout-videos{
      margin-left: 0;
      width: auto;
    }
    
  }  
  
  /* Para 480px */  
  @media only screen and (max-width: 500px) and (min-width: 341px) 
  {
  
    .layout-videos{
      margin-left: 0;
      width: auto;
    }

     .div-logo-header{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: #FFFF;
      height: 15vh;
      position: fixed;
      z-index: 1;
  }
  
  .div-logo-header img{
    width: 100%;
  }

  .content{
    margin: 24px 16px 0;
    background: #FFFF;
    margin-top: 100px;
    padding: 0;
  }
  
  
  }  
    
  
  /* Para 320px */  
  @media only screen and (max-width: 340px) and (min-width: 5px)  
  {
    .layout-videos{
      margin-left: 0;
    }
    .div-logo-header{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: #FFFF;
      height: 25vh;
      position: fixed;
      z-index: 1;
  }
  
  .div-logo-header img{
    width: 100%;
  }
  
     
    
  } 